<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${user.name+' Dashboard'}"></title>
</head>
<body>

	<section>

		<div class="card mr-1 mr-1">

			<div class="card-body" th:if=${contact}>

				<div class="container text-center text-danger">

					<img style="height: 200px; width: 200px;" class="my-profile-pic"
						src="" th:src="@{'/images/'+${contact.imageUrl}}" alt="Profile">

					<h3 class="mt-1">
						<span th:text=${contact.name}></span> ( <span
							th:text=${contact.nickName}> </span> )
					</h3>

					<table class="table">
						<thead>
							<tr>
								<th scope="col">Contact Id</th>
								<th scope="row" th:text="${'SCM2022'+contact.c_Id}">1</th>

								
								
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="col">Phone</th>
								<td th:text="${contact.phone}"></td>
								
							</tr>
							<tr>
								<th scope="col">Email</th>
								<td th:text="${contact.email}"></td>
								
							</tr>
							<tr>
								<th scope="col">Work</th>
								<td th:text="${contact.work}"></td>
							</tr>

						</tbody>
					</table>
                
                <div class="description">
                <p th:utext="${contact.description}"></p>
                </div>
                
                
               <div class="container mt-1">  <a class="btn btn-primary btn-sm "style="text-decoration:none; display:block;" href="#" th:href="@{'/user/update-contact/'+${contact.c_Id}}">Update</a>
			    <button class="btn btn-danger btn-sm btn-block" th:onclick="|deleteContact(${contact.c_Id})|">Delete</button>
			    </div>			

				
				

			</div>


		</div>

	</section>

</body>
</html>