<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Home Page!</title>
</head>
<body>

	<section style=" height:79vh;background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/aboutback.png); background-size: cover; color:white;">
           
           <div style="visibility: hidden">I am hidden</div>
            <div style="visibility: hidden">I am hidden</div>
		  <div class="container "  >

			<div class="container">

				<div class="card-body mt-4">
				
				
				
				<h3>Smart Contact Manager</h3>
				<p>Smart contact manager is a free cloud-based storage service that enables users to store and access contacts online. The service syncs stored contacts across all of the user's devices, including mobile devices, tablets and PCs.</p>
				
				<hr />
				<h3>How it works?</h3>
				<p>To get started with Smart Contact Manager, the end user must create or sign in to a Smart Contact Manager account. Then, the user will get all the options to add a contact, delete and update the contact. "Smart Contact Manager" will provide a text rich editor in which you can store all your important conversation or memories with that contact.Alternatively, the end user can access a Smart Contact Manager application to one or more devices.</p>
				<hr />
				<h3>Benefits</h3>
				<ul>
				<li>Centralized repository of contact information</li>
				<li>Ready-to-use database with searching</li>
				<li>Document management</li>
				<li>Customizable fields</li>
				
				
				</ul>
				</div>
			</div>
		</div>
	</section>
</body>
</html>